@media screen and (min-width: 0) {
	.nav {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		font-size: 1.2rem;
		margin-left: 0.6rem;
		margin-top: 1rem;
	}
	.nav-links {
		flex: 1;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-between; 
		align-items: flex-start;
	}
	.nav-links li {
		flex: 3rem;
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.nav-links li:hover {
		background-color: rgba(240,240,240,0.3);
	
	}
	.nav-links li a {
		padding-left: 0.2rem;
	}
	.nav-links li a:hover {
		width: fit-content;
		padding-left: 0.2rem;
		border-bottom: 1px solid rgb(200,200,200);
	}
}