
.returnedMarkdown a {
	text-decoration: underline;
}
.returnedMarkdown ul li {
	list-style: circle;
	margin-left: 4rem;
	padding-left: 0.5rem;	
}
.returnedMarkdown ol li {
	list-style: lower-roman;
	margin-left: 4rem;
	padding-left: 0.5rem;	
}
.returnedMarkdown a {
	text-decoration: underline;
}


.returnedMarkdown a {
	text-decoration: underline;
}


.returnedMarkdown a {
	text-decoration: underline;
}


.returnedMarkdown a {
	text-decoration: underline;
}
